{% set current_menu = 'home' %}
{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    <h1 class="cover-heading">Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download,
        edit the text, and add your own fullscreen background photo to make it your own.</p>
{% endblock %}
