{% set current_menu = 'blog' %}
{% extends 'base.html.twig' %}

{% block title %}New Entry!{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col-md-12">
            <section class="content-header">
                <h1>New Entry</h1>
            </section>
        </div>

        <div class="col-md-12 mt-5">
            {{ form_start(form, { 'enctype':"multipart/form-data"}) }}
            <div class="form-group text-left">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
            </div>

            <div class="form-group text-left">
                {{ form_label(form.content) }}
                {{ form_widget(form.content) }}
            </div>

            <div class="form-group text-left">
                {{ form_label(form.file) }}
                {{ form_widget(form.file) }}
            </div>

            <button class="btn btn-primary btn-block" type="submit">
                Save
            </button>

            {{ form_widget(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}
