{% set current_menu = 'blog' %}
{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col-md-3">
            {% if app.user and app.session %}
                <a class="btn btn-primary btn-block mb-5" href="{{ path("blog_new") }}">
                    New
                </a>
            {% endif %}
        </div>
        <div class="col-md-9">
            <p>sin contenido</p>
        </div>
    </div>
{% endblock %}
