{% set current_menu = 'blog' %}
{% extends 'base.html.twig' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/blog.css') }}">
{% endblock %}


{% block body %}
    <div class="row mt-5">
        <div class="col-md-3">
            {% if app.user and app.session %}
            <a class="btn btn-primary btn-block mb-5" href="{{ path("blog_new") }}">
                New
            </a>
            {% endif %}

            <ul class="list-group">
                {% for row in list %}
                    <li class="list-group-item">{{ row.title }} <sub>(<a href="{{ path("view_blog", {'id': row.id }) }}">ver</a>)</sub></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9">
            {% for label, messages in app.flashes %}
                <div class="alert alert-{{ label }}" role="alert">
                    {% for message in messages %}
                        <i class="icon fa fa-info"></i> {{ message }}
                    {% endfor %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            {% endfor %}

            <div class="item-box-blog">
                <!--Heading-->
                <div class="item-box-blog-heading">
                    <h5>{{ blog.title }}</h5>
                </div>
                <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">{{ blog.date|date("m/d/Y") }}</span> </div>
                    <!--Image-->
                    <figure> <img alt="" src="{{ asset("/uploads/" ~ blog.file ) }}"> </figure>
                </div>
                <div class="item-box-blog-data">
                    Autor: {{ blog.user.firtsName ~ ' ' ~ blog.user.lastName }}
                </div>
                <div class="item-box-blog-body">
                    <div class="item-box-blog-text">
                        <p>
                            {{ blog.content }}
                        </p>
                    </div>
                </div>
                {% if app.user and app.session %}
                    <div class="mt"> <a href="{{ path("edit_entry", {'id': blog.id }) }}" tabindex="0" class="btn bg-blue-ui white read">Edit</a> </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
