{% set current_menu = 'contact' %}
{% extends 'base.html.twig' %}

{% block title %}Contact!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/signin.css') }}">
{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}" role="alert">
            {% for message in messages %}
                <i class="icon fa fa-info"></i> {{ message }}
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endfor %}
    <h1 class="h3 mb-3 font-weight-normal">Contactenos</h1>
    {{ form_start(form) }}
    <div class="form-group text-left">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
    </div>

    <div class="form-group text-left">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </div>

    <div class="form-group text-left">
        {{ form_label(form.mensaje) }}
        {{ form_widget(form.mensaje) }}
    </div>

    <button class="btn btn-primary btn-block" type="submit">
        Enviar
    </button>

    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
