{% block menu %}
    {% set current_menu = current_menu|default %}

    <a class="nav-link {{ 'home' == current_menu ? 'active' }}" href="{{ path('blog_index') }}">Home</a>
    <a class="nav-link {{ 'blog' == current_menu ? 'active' }}" href="{{ path('view_blog') }}">Blog</a>
    <a class="nav-link {{ 'contact' == current_menu ? 'active' }}" href="{{ path('contact') }}">Contact</a>
    {% if app.user and app.session %}
        <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
    {% endif %}
{% endblock %}